<% tasks.each do |task| %>
  <% if task.persisted? %>
    <div class="card">
      <div class="card-body">
        <span class="badge bg-primary"><%= task.status&.humanize %></span>
        <h5 class="card-title d-flex justify-content-between mb-4">
          <span><%= task.name %></span>
          <div>
            <%= link_to 'Edit', edit_project_task_path(task.project, task), class: 'btn btn-sm btn-warning' %>
            <%= link_to 'Destroy', project_task_path(task.project, task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </div>
        </h5>
        <p><%= task.description %></p>
      </div>
    </div>
  <% end %>
<% end %>
