<%= link_to 'Back', projects_path, class: 'btn btn-secondary mb-3' %>

<div class="card">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span><%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-light' %>
        <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark' %>
      </div>
    </h2>

    <div class="mb-4">
      <h6>Add task</h6>
      <%= form_with(model: [@task.project, @task]) do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

            <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :status, value: :not_started %>

        <div class="input-group">
          <%= f.text_field :name, placeholder: 'Task name', class: 'form-control', autofocus: true %>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>

    </div>

    <h4>Not Started</h4>
    <div class="tasks-bg">
      <ul class="tasks-list" data-status="not_started" data-controller="tasks">
        <% @project.tasks.not_started.each do |task| %>
          <% if task.persisted? %>
            <li class="task-item" data-task-id="<%= task.id %>">
              <%= render 'projects/task', task: task %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <h4>In progress</h4>
    <div class="tasks-bg">
      <ul class="tasks-list" data-status="in_progress" data-controller="tasks">
        <% @project.tasks.in_progress.each do |task| %>
          <% if task.persisted? %>
            <li class="task-item" data-task-id="<%= task.id %>">
              <%= render 'projects/task', task: task %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <h4>Complete</h4>
    <div class="tasks-bg">
      <ul class="tasks-list" data-status="complete" data-controller="tasks">
        <% @project.tasks.complete.each do |task| %>
          <% if task.persisted? %>
            <li class="task-item" data-task-id="<%= task.id %>">
              <%= render 'projects/task', task: task %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

