<%= link_to 'Back', projects_path, class: 'btn btn-light mb-3' %>

<div class="card">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span><%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </h2>

    <div class="mb-4">
      <h6>Add task</h6>
      <%= render 'projects/tasks/form' %>
    </div>

    <h4>Tasks</h4>
    <%= render 'projects/tasks/index', { tasks: @project.tasks, project: @project } %>

  </div>
</div>

</hr>
